<ion-view>
<ion-content ng-controller="beerDetailsController">

<div class="card" ng-show="isLoading">
	<div class="item item-text-wrap"><i class="icon ion-loading-b"></i> Fermentando...</div>
</div>

<div class="list card" ng-hide="isLoading">

	<div class="item item-avatar">
		<h2>{{beer.name}}</h2>
		<p>{{beer.style}}</p>
		<p>{{beer.brewery}}</p>
	</div>

	<div class="item item-body">
		<p ng-bind-html="beer.description"></p>
		<p>
			<a href="#" class="subdued" ng-hide="(beer.alcohol == null)">Graduação: {{beer.alcohol}}</a><br/>
			<a href="#" class="subdued" ng-hide="(beer.ingredients == null)">Ingredientes: {{beer.ingredients}}</a>
		</p>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item"><i class="icon ion-beer"></i> Já tomei</a>
		<a class="tab-item"><i class="icon ion-heart"></i> Favorita</a>
		<a class="tab-item"><i class="icon ion-chatbubble"></i> Comentar</a>
	</div>

</div>
</ion-content>
</ion-view>

