<ion-view title="Brejas Botecaria">
<ion-content>
	<div class="list" ng-controller="searchController">
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" ng-model="query" placeholder="Dortmund Nostradamus">
			</label>
			<button class="button icon button-small button-assertive button-outline" ng-click="doSearch();">
				<i class="icon ion-search placeholder-icon"></i></button>
		</div>
		<ion-item ng-repeat="item in result" item="item" class="item" ng-click="loadBeer('{{item.link}}');" ng-hide="isLoading">
			<h2>{{item.name}}</h2>
		</ion-item>
		<div class="card" ng-show="isLoading">
			<div class="item item-text-wrap"><i class="icon ion-loading-b"></i> Buscando nas prateleiras... </div>
		</div>
	</div>
</ion-content>
</ion-view>

